---
import {
  getAllPosts,
  getRankedPosts,
  getAllTags,
} from '../../lib/notion/client.ts'
import Layout from '../../layouts/Layout.astro'
import PostIndex from '../../components/PostIndex.astro'
import BlogTagsLink from '../../components/BlogTagsLink.astro'
import styles from '../../styles/blog.module.css'

const [posts, rankedPosts, tags] = await Promise.all([
  getAllPosts(),
  getRankedPosts(),
  getAllTags(),
])
---

<Layout title="Blog" path="/blog">
  <div className={styles.container}>
    <main>
      <PostIndex heading="Recommended Posts" posts={rankedPosts} />
      <PostIndex heading="All Posts" posts={posts} />
    </main>

    <aside>
      <BlogTagsLink heading="⚑ Tags" tags={tags} />
    </aside>
  </div>
</Layout>
