---
import Layout from '../../layouts/Layout.astro'
import * as interfaces from '../../lib/interfaces.ts'
import {
  getAllPosts,
  getPostBySlug,
  getAllBlocksByBlockId,
} from '../../lib/notion/client.ts'
import PostBody from '../../components/PostBody.astro'
import AsideInfo from '../../components/AsideInfo.astro'
import styles from '../../styles/blog.module.css'

export async function getStaticPaths() {
  const posts = await getAllPosts()
  return posts.map((post: interfaces.Post) => ({ params: { slug: post.Slug } }))
}

const slug = '_works'

const post = await getPostBySlug(slug)
if (!post) {
  throw new Error('Post not found. slug: ${slug}')
}

const blocks = await Promise.all([getAllBlocksByBlockId(post.PageId)])
---

<Layout title="Works" path="/works">
  <div className={styles.container}>
    <main>
      <div className={styles.post}>
        <PostBody blocks={blocks} />
      </div>
    </main>

    <aside>
      <AsideInfo />
    </aside>
  </div>
</Layout>
