.main header h2 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.main footer {
  margin-top: 40px;
}

.posts {
  padding: 50px 0 50px;
  display: flex;
  border-bottom: 2px solid #ddd;
}
@media (max-width: 1080px) {
  .posts {
    display: block;
  }
}

.posts_right_pane {
  order: 1;
  width: 300px;
  padding: 10px 0px;
}

.posts_left_pane {
  flex: 1;
  order: 2;
}

.post {
  margin: 0 auto 40px;
}
.post footer {
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
}
