---
import Layout from '../layouts/Layout.astro'
import IndexHeaderNavis from '../components/IndexHeaderNavis.astro'
import styles from '../styles/blog.module.css'
---

<Layout path="/">
  <div slot="main" class={styles.main}>
    <IndexHeaderNavis />
    <p>way in progress...</p>
  </div>
</Layout>
