---
import '@fontsource/fugaz-one'
export interface Props {
  path: string
}

const navItems = [
  { label: 'All Posts', path: '/posts' },
  { label: 'Tags', path: '/posts/tag' },
]
---

<div class="nav">
  <ul>
    {
      navItems.map(({ label, path: p }) => (
        <li>
          <a href={p}>{label}</a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .nav {
    display: grid;
    place-content: center;
    margin: 10px 0px 30px;
  }
  .nav ul {
    list-style: none;
    margin: inherit;
    padding: 0 2px;
  }
  .nav ul li {
    display: inline-block;
  }
  .nav a {
    display: flex;
    align-items: flex-end;
    margin: 0px 10px 0px 10px;
    color: var(--fg);
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Fugaz One', cursive;
    cursor: pointer;
  }
</style>
