---
---

<footer class="footer">
  <div>
    <span>©︎ 2022</span>
    <a href="https://www.shmn7iii.net"> shmn7iii</a>
    <span> | Powered by</span>
    <a href="https://github.com/shmn7iii/astro-notion-blog">
      astro-notion-blog
    </a>
  </div>
</footer>

<style>
  .footer {
    margin: 40px 0 10px;
    text-align: center;
    font-size: 0.75rem;
  }
  .footer span {
    color: #777;
  }
  .footer span a {
    color: inherit;
  }
</style>
