---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  inSlugPage: boolean
}

const { post, inSlugPage = false } = Astro.props

let title = post.Title
---

{
  inSlugPage ? (
    <h3 class="post-title-in-slug">
      <>{title}</>
    </h3>
  ) : (
    <h3 class="post-title">
      <a href={getPostLink(post.Slug)}>{title}</a>
    </h3>
  )
}

<style>
  .post-title-in-slug {
    padding: 5px 0px 20px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--fg);
  }
  .post-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--fg);
  }
  .post-title a {
    font-size: 1.4rem;
    color: inherit;
    text-decoration: underline;
  }
  @media (max-width: 640px) {
    .post-title {
      font-size: 1.4rem;
    }
    .post-title a {
      font-size: 1.2rem;
    }
  }
</style>
